.spacer {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toastNotification {
    min-width: 450px;
    background: rgba(16, 18, 27, 0.75);
    border: 1px solid rgba(16, 18, 27, 0.1);
    box-shadow: 5px 5px 15px rgba(16, 18, 27, 0.4);
    backdrop-filter: blur(20px);
    color: rgb(200, 222, 245);
    padding: 0.75rem;
}