.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row;
    column-gap: 0.5rem;
    box-sizing: border-box;
    transition: 0.1s;
    user-select: none;
    width: 120px;

    &:active {
        // transform: scale(0.95);
        transition: 0.1s;
    }

    &:hover {
        transition: 0.1s;
        cursor: pointer;
    }

    img {
        filter: invert(4%) sepia(9%) saturate(3216%) hue-rotate(191deg) brightness(97%) contrast(96%);
        height: 22px;
    }

    p {
        font-family: "Rubik";
        font-size: 1rem;
        letter-spacing: 1px;
    }
}

.primary {
    color: #0c0e16;
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);

    &:hover {
        background: rgba(59, 62, 97, 0.7) !important;
    }

    &:active {
        border: 5px solid rgba(59, 62, 97, 0.5);
    }
}

.secondary {
    color: #0c0e16;
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.3);
    border: 2px solid rgba(59, 62, 97, 0.1);

    &:hover {
        background: rgba(59, 62, 97, 0.4) !important;
    }

    &:active {
        border: 5px solid rgba(59, 62, 97, 0.1);
    }
}