.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row;
    column-gap: 0.5rem;
    box-sizing: border-box;
    transition: 0.1s;
    user-select: none;
    width: 120px;
    height: 58px !important;
    padding-block: 1rem;

    .icon {
        color: #0c0e16;
    }

    p {
        font-family: "Rubik";
        font-size: 1rem;
        letter-spacing: 1px;
    }

    &:active {
        transform: scale(0.97);
        transition: 0.1s;
    }

    &:hover {
        transition: 0.1s;
        cursor: pointer;
    }
}

.primary {
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);

    &:hover,
    &:active {
        background: rgba(59, 62, 97, 0.7) !important;
    }
}

.secondary {
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.3);
    border: 1px solid rgba(59, 62, 97, 0.1);

    &:hover,
    &:active {
        background: rgba(59, 62, 97, 0.4) !important;
    }
}