.container {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    height: 100%;

    img {
        filter: invert(4%) sepia(9%) saturate(3216%) hue-rotate(191deg) brightness(97%) contrast(96%);
        height: 25px;
        filter: opacity(0.2);
        transition: 0.1s;

        &:active,
        &:hover {
            filter: opacity(0.6);
            transition: 0.1s;
            cursor: pointer;
        }
    }
}