.container {
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.7);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 50%;

    &:active {
        transform: scale(0.97);
        transition: 0.1s;
    }

    &:hover {
        cursor: pointer;
        transition: 0.1s;
    }
}