/*
Main Colors:
    primary lighter: rgb(186, 213, 241) / #bad5f1
    primary darker: rgb(42, 39, 107) / #2a276b
*/

@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}

@mixin default-dark-shadow {
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
}

@mixin darker-with-border {
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;

    transition: 0.1s;
}

@mixin container-with-hover {
    @include darker-with-border;
    transition: 0.1s;

    &:hover {
        transition: 0.1s;
        background: rgba(59, 62, 97, 0.7) !important;
    }
}

@mixin secondary-button {
    @include darker-with-border;
    background: rgba(59, 62, 97, 0.3);
    transition: 0.1s;

    &:hover {
        transition: 0.1s;
        background: rgba(59, 62, 97, 0.4) !important;
    }
}

@mixin hover-cursor {
    &:hover {
        cursor: pointer;
    }
}

@mixin bg-blur {
    backdrop-filter: blur(12px);
}

// Global stylings
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(200, 222, 245) 5%, rgb(71, 78, 136) 125%);
    font-family: "Rubik";
}

// Settings site
#settings-container {
    z-index: 99;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: row;

    height: calc(100% - 4rem);
    width: calc(100% - 4rem);

    #settings-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        #settings-topbar {
            display: flex;
            flex-direction: row;
            margin-bottom: 2rem;
            align-items: baseline;
            justify-content: space-between;

            button {
                @include default-dark-shadow;
                @include secondary-button;
                @include hover-cursor;

                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;


                &:active {
                    transform: scale(0.95);
                    transition: 0.1s;
                }

                img {
                    height: 20px;
                    filter: invert(4%) sepia(9%) saturate(3216%) hue-rotate(191deg) brightness(97%) contrast(96%);
                }

                p {
                    font-size: 1rem;
                    font-family: "Rubik";
                    margin-left: 0.5rem;
                    color: #0c0e16;
                }
            }

            h1 {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #0c0e16;
            }
        }

        #settings-main-content {
            height: 100%;
            min-width: 100%;

            display: flex;
            flex-direction: row;
            column-gap: 2rem;

            #settings-selectors {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                min-width: 427px !important;

                .settings-selector-selected {
                    background: rgba(59, 62, 97, 0.7) !important;
                }

                #settings-selector {
                    @include container-with-hover;
                    @include hover-cursor;
                    @include default-dark-shadow;

                    padding: 1.5rem 1rem;

                    color: #0c0e16;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: bold;

                    &:active {
                        transform: scale(0.98);
                        transition: 0.1s;
                    }
                }

                #settings-selector-seperator {
                    height: 2px;
                    background: rgba(59, 62, 97, 0.1);
                    border-radius: 5px;
                }
            }

            #farm-settings {
                @include darker-with-border;
                @include default-dark-shadow;

                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 2rem;
                row-gap: 1.5rem;

                .settings-item {
                    @include darker-with-border;
                    @include default-dark-shadow;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 1rem;
                    flex-wrap: wrap;

                    #settings-item-disabled-banner {
                        color: #0c0e16;
                        background: rgba(48, 50, 80, 0.5);
                        width: 100%;
                        font-family: "Rubik";
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin-bottom: 1rem;
                        padding-block: 0.25rem;
                        padding-inline: 0.5rem;
                        border-radius: 5px;
                        text-align: center;
                    }

                    label {
                        color: #0c0e16;
                        font-size: 1.2rem;
                        flex-grow: 1;
                    }

                    #settings-item-desc {
                        margin-top: 0.4rem;
                        width: 80%;
                        filter: opacity(0.5);
                    }
                }

                #settings-item-toggle {
                    .toggle-item {
                        @include default-dark-shadow;
                    }
                }

                #settings-item-input {
                    input {
                        @include default-dark-shadow;

                        background: rgba(177, 183, 236, 0.4);
                        border: 1px solid rgba(177, 183, 236, 0.4);

                        height: 25px;
                        padding-inline: 0.5rem;
                        border-radius: 4px;
                        font-family: "Rubik";

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}