/*
Main Colors:
    primary lighter: rgb(186, 213, 241) / #bad5f1
    primary darker: rgb(42, 39, 107) / #2a276b
*/

@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}

@mixin default-dark-shadow {
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
}

@mixin darker-with-border {
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;

    transition: 0.1s;
}

@mixin container-with-hover {
    @include darker-with-border;
    transition: 0.1s;

    &:hover {
        transition: 0.1s;
        background: rgba(59, 62, 97, 0.7) !important;
    }
}

@mixin secondary-button {
    @include darker-with-border;
    background: rgba(59, 62, 97, 0.3);
    transition: 0.1s;

    &:hover {
        transition: 0.1s;
        background: rgba(59, 62, 97, 0.4) !important;
    }
}

@mixin hover-cursor {
    &:hover {
        cursor: pointer;
    }
}

@mixin bg-blur {
    backdrop-filter: blur(12px);
}

// Global stylings
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(200, 222, 245) 5%, rgb(71, 78, 136) 125%);
    font-family: "Rubik";
}