/*
Main Colors:
    primary lighter: rgb(186, 213, 241) / #bad5f1
    primary darker: rgb(42, 39, 107) / #2a276b
*/

@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}

// Global stylings
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(200, 222, 245) 5%, rgb(71, 78, 136) 125%);
    font-family: "Rubik";
}

// Tooltip styling.
.tippy-box[data-theme~="dark"] {
    background: rgb(34, 37, 54);
    box-shadow: 5px 5px 15px rgba(34, 37, 54, 0.4);
    color: rgb(200, 222, 245);
    padding: 0.5rem;
    border-radius: 8px;
    font-family: "Rubik";
    font-size: 0.9rem;
    text-align: center;

    .tippy-arrow::before {
        border-bottom-color: rgb(34, 37, 54);
        border-top-color: rgb(34, 37, 54);
    }
}