.container {
    width: fit-content;
    padding: 0.15rem 1rem;
    border-radius: 5px;
    color: rgba(24, 26, 41, 1);

    border: 1px solid rgba(24, 26, 41, 0.4);
}

.attention-required {
    background: #347bff;
    box-shadow: 0 0 10px rgba(52, 123, 255, 0.5);
}

.disabled {
    background: #e74b65;
    box-shadow: 0 0 10px rgba(231, 75, 101, 0.5);
}

.idle {
    background: #f1851f;
    box-shadow: 0 0 10px rgba(241, 133, 31, 0.5);
}

.checking {
    background: #f8e059e6;
    box-shadow: 0 0 10px rgba(248, 224, 89, 0.5);
}

.farming {
    background: #21db87e6;
    box-shadow: 0 0 10px rgba(33, 219, 135, 0.5);
}
