.container {
    color: #0c0e16;
    background: rgba(48, 50, 80, 0.5);
    width: 100%;
    font-family: "Rubik";
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    border-radius: 5px;
    text-align: center;
}