.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;

    transition: 0.1s;

    label {
        color: #0c0e16;
        font-size: 1.2rem;
        flex-grow: 1;
    }

    .desc {
        margin-top: 0.4rem;
        width: 80%;
        filter: opacity(0.5);
    }

    input {
        box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
        background: rgba(177, 183, 236, 0.4);
        border: 1px solid rgba(177, 183, 236, 0.4);
        padding-inline: 0.5rem;
        border-radius: 4px;
        font-family: "Rubik";
        height: 25px;

        &:focus {
            outline: none;
        }
    }
}