.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;

    transition: 0.1s;

    label {
        color: #0c0e16;
        font-size: 1.2rem;
        flex-grow: 1;
    }

    .desc {
        margin-top: 0.4rem;
        width: 80%;
        filter: opacity(0.5);
    }

    .button {
        height: 25px;
        color: #0c0e16;
        padding: 0.25rem 0.75rem;

        box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.3);
        background: rgba(59, 62, 97, 0.8);
        border: 1px solid rgba(45, 42, 75, 0.3);
        border-radius: 4px;

        &:hover,
        &:active {
            background: rgba(59, 62, 97, 1) !important;
        }

        &:active {
            color: rgb(200, 222, 245);
        }
    }
}