.container {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 40%;

    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;

    .items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}