.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.topBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1rem;

    .topBarButton {
        aspect-ratio: 1 / 1;
        backdrop-filter: blur(30px);

        background: #2b3246;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
        color: #bad5f1;

        padding: 0.5rem;

        &:hover,
        &:active {
            cursor: pointer;
            background: #3c445a;
        }
    }
}

.splitterContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    column-gap: 2rem;

    .settingsSelectors {
        min-width: 25%;

        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        list-style: none;

        .selector {
            border-radius: 5px;
            padding-block: 0.75rem;
            padding-inline: 1rem;

            color: #bad5f1;
            text-transform: capitalize;
            transition: all 0.1s;

            &:active,
            &:hover {
                transition: all 0.1s;
                cursor: pointer;
                background: #1f2233;
                box-shadow: 5px 5px 15px rgba(31, 34, 51, 0.5);
            }

            &:active {
                transition: all 0.1s;
                background: #181b2b;
                box-shadow: 5px 5px 15px rgba(24, 27, 43, 0.5);
            }
        }

        .selectorSelected {
            transition: all 0.1s;
            background: #1f2233;
            box-shadow: 5px 5px 15px rgba(31, 34, 51, 0.5);
        }

        .seperator {
            width: 90%;
            height: 2px;
            align-self: center;
            margin-block: 0.25rem;

            background: #1f2233;
        }
    }

    .settingsItems {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}
