/*
Main Colors:
    primary lighter: rgb(186, 213, 241) / #bad5f1
    primary darker: rgb(42, 39, 107) / #2a276b
*/

@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/Rubik-VariableFont_wght.ttf");
}

@mixin default-dark-shadow {
    box-shadow: 5px 5px 15px rgba(45, 42, 75, 0.2);
}

@mixin darker-with-border {
    background: rgba(59, 62, 97, 0.5);
    border: 1px solid rgba(59, 62, 97, 0.1);
    border-radius: 10px;

    transition: 0.1s;
}

@mixin container-with-hover {
    @include darker-with-border;
    transition: 0.1s;

    &:hover {
        cursor: pointer;
        transition: 0.1s;
        background: rgba(59, 62, 97, 0.7) !important;
    }
}

// Global stylings
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(200, 222, 245) 5%, rgb(71, 78, 136) 125%);
    font-family: "Rubik";
}

#dragbar {
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
}

#spacer {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// Home site
#home-divider {
    display: flex;
    flex-direction: row;
    height: 100%;

    #home-farms-status {
        @include default-dark-shadow;
        @include darker-with-border;

        padding: 2rem;
        width: 50%;

        #farm-status-divider {
            @include default-dark-shadow;
            @include container-with-hover;

            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;

            .farm-status {
                display: flex;
                flex-direction: column;
                width: 100%;
                color: #0c0e16;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }

            #farm-status-indicator {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: rgb(33, 219, 135);
                box-shadow: 0 0 10px rgba(33, 219, 135, 0.5);
                margin-top: 4px;
            }
        }
    }

    #home-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        #home-content {
            display: flex;
            flex-direction: column;

            video {
                width: 65%;
                align-self: center;
            }

            h1#home-title {
                margin-top: -20px;
                text-align: center;
                font-weight: bold;
                color: rgb(24, 26, 41);
                font-size: 3rem;
            }

            #home-desc {
                text-align: center;
                color: rgb(24, 26, 41);
                font-size: 1.25rem;
            }

            #home-socials {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    @include default-dark-shadow;
                    @include container-with-hover;

                    color: #0c0e16;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.8rem;
                    aspect-ratio: 1 / 1;
                    margin-inline: 0.5rem;

                    img {
                        filter: invert(4%) sepia(9%) saturate(3216%) hue-rotate(191deg) brightness(97%) contrast(96%);
                        height: 22px;
                    }

                    &:active {
                        transform: scale(0.95);
                        transition: 0.1s;
                    }
                }
            }
        }
    }
}